@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.body {
  /* font-family: sans-serif, Arial, Helvetica; */
  font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho Pro', 'Yu Mincho', 'MS P明朝', serif;
}

/* header */
.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header_logo {
  color: #333;
  min-width: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.header_list_item {
  list-style: none;
  text-decoration: none;
}

.header_item_link {
  color: #333;
  text-shadow: 0 0 10px #ffffff;
  display: flex;
  margin-right: 20px;
  text-decoration: none;
  padding: 10px 0px;
}

.header_item_link:hover {
  filter: opacity(0.6);
}

.menu_toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.toggle_line {
  width: 100%;
  height: 3px;
  background-color: #333;
}

@media (max-width: 500px) {
  .header_list {
    display: none;
  }

  .menu_toggle {
    display: flex;
  }


  .header_list.menu_open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(100, 246, 255, 0.9);
    /* opacity: 0.9; */
    padding: 20px;
    box-sizing: border-box;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

/* styles.module.css や global.css など、適切な CSS ファイルに追加 */

.scroll-section {
  position: relative;
  height: 100vh;
  /* 画面の高さいっぱいに表示されるようにする例 */
}

.scroll-section-2 {
  position: relative;
  height: 100vh;
  /* 画面の高さいっぱいに表示されるようにする例 */
  background: rgba(215, 228, 228, 0.45);
  border-radius: 26px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: auto; */
  background-image: url('/img/background.png');
  /* background-attachment: scroll; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  /* ぼかしの大きさは必要に応じて調整 */
  z-index: -1;
  /* 最背面に配置 */
}

.content {
  position: relative;
  z-index: 1;
  /* 背景画像の上に配置 */
  padding: 20px;
  color: #fff;
  /* コンテンツの色を設定 */
}

.background-skill {
  background: rgba(215, 228, 228, 0.45);
}

.skill-h2-2 {
  width: 500px
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* その場で */
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* カルーセルUI */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-area {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.carousel-list {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  justify-content: center;
  /* 水平方向の中央揃え */
  align-items: center;
  /* 垂直方向の中央揃え */
  animation: anime 5s infinite;
  /* アニメーションの適用 */
  /* 透明度の変化を滑らかにする */
}

@keyframes anime {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

.carousel-list.active {
  display: flex;
  /* animation: none; */
  /* アクティブなスライドはアニメーションしない */
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ccc;
}

.btn-back,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-back {
  left: 10px;
}

.btn-next {
  right: 10px;
}

/* カルーセルUIここまで */


/* 画像自動横スクロール */
@keyframes infinity-scroll-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}

.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0
}

.scroll-infinity__list--right {
  animation: infinity-scroll-right 40s infinite linear 0.5s both;
}

.scroll-infinity__item {
  margin-right: 30px;
  width: calc(100vw / 6);
}

.scroll-infinity__item>img {
  width: 100%;
}


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  } */
/* } */

/* profile */
/* .header {
  text-align: center;
  padding: 50px;
} */

.profile {
  width: 100%;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 1rem;
}

.catchphrase {
  font-size: 3.0rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.catchphrase-sub {
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 70px;
}

.name-kanji {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 5px;
}

.name-romaji {
  font-size: 3rem;
  font-weight: bold;
  margin: 1vh 0 7.5vh;
}

.profession {
  font-size: 1.5rem;
  color: #999;
  float: right;
}

.history {
  margin-top: 20px;
  font-size: 1rem;
  color: #444;
}

.vision-section {
  margin-bottom: 40px;
}

.vision-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.vision-content {
  font-size: 1rem;
  color: #444;
  margin-bottom: 40px;
}

.career-date {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.career-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.career-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.career-content {
  font-size: 1rem;
  color: #444;
}

.career-image {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .career-section {
    flex-direction: row;
    align-items: center;
  }

  .career-image {
    flex: 1;
    margin-right: 20px;
  }

  .career-content {
    flex: 2;
  }
}

.learning-section {
  margin-top: 50px;
}

.learning-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.learning-content {
  font-size: 1rem;
  color: #444;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
}


/* Aboutページセクションのタイムライン */

:root {
  --width-space: 95vw;
}

.h2-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}

.experience {
  position: relative;
  width: var(--width-space);
  margin: 0 auto;
  padding: 20px 0;
}



.experience-item {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  position: relative;
  gap: 10vw
}

.experience-item.reverse {
  flex-direction: row-reverse;
}

.experience-image {
  /* flex: 1; */
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
  width: 50vw;
  overflow: hidden;
  margin-left: -5vw;
}

.experience-item.reverse .experience-image {
  margin-right: -5vw;
}

.experience-image img {
  width: 100%;
  height: auto;
  /* border-radius: 8px; */
}

.experience-content {
  flex: 1;
  padding: 10px 20px;
  /* background-color: #fff; */
  border-radius: 8px;
  /* position: relative; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.experience-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.experience-content p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* 逆順のタイムライン項目 */
.experience-item.reverse::after {
  left: 50%;
}

/* モバイルビューでの調整 */
@media (max-width: 768px) {
  .experience::before {
    left: 20px;
  }

  .experience-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .experience-item.reverse {
    flex-direction: column;
  }

  .experience-content {
    padding: 10px 20px;
    margin-left: 40px;
  }

  .experience-item::after {
    left: 20px;
    top: 10px;
  }
}